.counter-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .first {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 150px;
    justify-content: space-around;
    padding: 10px;

    > button {
      border: 0;
      width: 40px;
      height: 40px;
      font-size: 24px;
    }

    > span {
      font-size: 24px;
      color: red;
    }
  }

  .second {
    width: 400px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;

    > input {
      width: 80px;
      height: 80px;
      font-size: 30px;
      text-align: center;
    }

    > button {
      width: 80px;
      height: 80px;
      border: none;
      font-size: 20px;
    }
  }
}