/*home组件样式*/
.home-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.app-logo {
  width: 150px;
  /*设置元素是否对鼠标事件作出反应，默认是auto;会做出反应，比如：点击a链接，会跳转；但是，设置为none,意味着链接不会跳转了*/
  pointer-events: none;
}

// 参考:https://blog.csdn.net/weixin_41192489/article/details/126028971
// prefers-reduced-motion 判断是否关闭不必要的动画？no-preference表示表示系统没有通知任何首选项；reduced表示已经通知
@media(prefers-reduced-motion: no-preference) {
  .app-logo {
    /*动画名称 持续时间 动画函数  在动画播放停止前的播放次数*/
    animation: app-logo-float 3s ease-in-out infinite;
  }

}

@keyframes app-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}