.goods-count {
  font-size: 16px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;

  .minus,
  .plus {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    position: relative;
  }
  .minus {
    margin-right: 12.5px;
    background-image: url(https://s1.imagehub.cc/images/2024/06/11/50b928c535a200ab2967b8f1d87f2cf3.th.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .plus {
    margin-left: 12.5px;
    background-image: url(https://s1.imagehub.cc/images/2024/06/11/0a12005397a62d1653b385c6dde08c61.th.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
  }
}
