.monthly-bill {
  height: 165px;
  display: flex;
  flex-flow: column nowrap;


  .content {
    height: 120px;
    display: flex;
    flex-flow: column nowrap;
    background-image: url("https://s1.imagehub.cc/images/2024/06/21/5836d3d95b14f68ada215fb259775c91.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .time {
      flex: 1;
      font-size: 14px;
      padding: 5px;

      span {
        &:first-child {
          width: 100px;
          padding-left: 40px;
          text-align: center;
        }

      }

      .arrow {
        position: absolute;
        left: 148px;
        top: 54px;
        display: inline-block;
        width: 7px;
        height: 7px;
        border-top: 2px solid #121826;
        border-left: 2px solid #121826;
        transform: rotate(225deg) scale(0.8);
        transform-origin: center;
        transition: all 0.3s;
      }

      .arrow.expand {
        transform: translate(0, 3px) rotate(45deg) scale(0.8);
      }
    }

    .data {
      flex: 3;
      display: flex;
      flex-flow: row nowrap;

      .item {
        flex: 1;
        display: flex;
        flex-flow: column nowrap;
        padding: 10px;

        span {
          margin: 5px 0;

          &:first-child {
            font-size: 16px;
          }

          &:last-child {
            font-size: 12px;
          }
        }

      }
    }
  }
}